{#
  List Card Link Component
  Grid container for multiple card-link components
  
  Variables:
  - items (array): Array of card items, each with: image, title, link, link_text (optional)
#}

<div class="c-list-card-link">
	<div class="c-list-card-link__grid">
		{% for item in items %}
			{% include 'prosubastas:card-link' with {
        image: item.image,
        title: item.title,
        link: item.link,
        link_text: item.link_text|default('Ver más')
      } %}
		{% endfor %}
	</div>
</div>
