@import "../../src/scss/init";

.c-list-card-comment {
    padding: 4rem 0;

    &__header {
        text-align: center;
        max-width: 680px;
        margin: 0 auto 3rem;
    }

    &__title {
        margin: 0 0 1rem;
        font-size: 40px;
        font-weight: 700;
        color: #111111;
        line-height: 1.2;
    }

    &__description {
        margin: 0;
        font-size: 16px;
        line-height: 1.6;
        color: $gray-medium;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }
}

@media (max-width: 1024px) {
    .c-list-card-comment {
        &__grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 767px) {
    .c-list-card-comment {
        padding: 2.5rem 0;

        &__title {
            font-size: 28px;
        }

        &__description {
            font-size: 14px;
        }

        &__grid {
            grid-template-columns: 1fr;
        }
    }
}