{#
/**
 * @file
 * Template for vehiculo node full view.
 */
#}

{% if related_subasta_url %}
  <script>
    window.location.replace('{{ related_subasta_url|e('js') }}');
  </script>
  <noscript>
    <meta http-equiv="refresh" content="0;url={{ related_subasta_url }}">
    <p>
      Esta publicacion tiene una subasta relacionada.
      <a href="{{ related_subasta_url }}">Ir a la subasta</a>
    </p>
  </noscript>
{% else %}
  <div class="vehiculo-modal-overlay" role="dialog" aria-modal="true" aria-labelledby="vehiculo-modal-title">
    <div class="vehiculo-modal-content">
      <h2 id="vehiculo-modal-title">Este vehiculo no tiene subasta relacionada</h2>
      <p>En este momento no hay una subasta activa asociada para este vehiculo.</p>
      <div class="vehiculo-modal-actions">
        <a href="/subastas" class="c-button c-button--primary">Ver subastas</a>
        <a href="/" class="c-button c-button--secondary">Ir al inicio</a>
      </div>
    </div>
  </div>
{% endif %}
