{#
/**
 * @file
 * block--block-content--banner-principal.html.twig
 *
 * Ubicación: templates/block/block--block-content--banner-principal.html.twig
 *
 * Variables disponibles gracias al preprocess_block:
 * - tipo_de_vehiculo_terms, marca_terms, ciudad_terms, combustible_terms
 *   Solo existen si field_filtro_anexo = TRUE.
 */
#}

<div{{ attributes }}>
	{{ title_prefix }}
	{{ title_suffix }}

	{% include 'prosubastas:banner' with {
  image:        content.field_image,
  image_mobile: content.field_image_mobile,
  title:        content.field_tittle,
  body:         content.body,
} only %}

{% if content.field_filtro_anexo[0]['#markup'] == '1' or
      content.field_filtro_anexo[0] is not empty %}
		{% include 'prosubastas:filters' with {
      overlap:               true,
      tipo_de_vehiculo_terms: tipo_de_vehiculo_terms,
      marca_terms:            marca_terms,
      ciudad_terms:           ciudad_terms,
      combustible_terms:      combustible_terms,
    } only %}
	{% endif %}
</div>
